<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .target{background-color: red}
  .target-blue{background-color: blue}
</style>
<body>
  <h1 th:text="${list}"></h1>
  <h1 th:text="${result}"></h1>
  <h1 th:text="${number}"></h1>
  <h1 th:text="${date}"></h1>

<script th:inline="javascript">
    var list = [[${list}]];
    var result = [[${result}]];
    var number = [[${number}]];
    var date = [[${date}]];
</script>
</body>
</html>